USE [vjezba_1]
GO
/****** Object:  Table [dbo].[ARTIKAL]    Script Date: 3/3/2022 6:24:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTIKAL](
	[ID_Artikal] [int] IDENTITY(1,1) NOT NULL,
	[Naziv_Artikla] [char](20) NULL,
	[Boja_Artikla] [char](10) NULL,
	[Informativna_Cijena] [numeric](18, 2) NULL,
 CONSTRAINT [PK_ARTIKAL] PRIMARY KEY CLUSTERED 
(
	[ID_Artikal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KUPAC]    Script Date: 3/3/2022 6:24:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KUPAC](
	[ID_Kupac] [int] IDENTITY(1,1) NOT NULL,
	[Ime_Kupca] [char](10) NULL,
	[Adresa_Kupca] [char](10) NULL,
 CONSTRAINT [PK_KUPAC] PRIMARY KEY CLUSTERED 
(
	[ID_Kupac] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RACUN]    Script Date: 3/3/2022 6:24:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RACUN](
	[ID_Racun] [int] IDENTITY(1,1) NOT NULL,
	[Datum_Racuna] [date] NOT NULL,
	[Datum_Dospijeca] [date] NULL,
	[Napomena] [char](50) NULL,
	[ID_Kupac] [int] NOT NULL,
	[ID_Skladiste] [int] NOT NULL,
 CONSTRAINT [PK_RACUN] PRIMARY KEY CLUSTERED 
(
	[ID_Racun] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RACUN_ARTIKAL]    Script Date: 3/3/2022 6:24:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RACUN_ARTIKAL](
	[ID_Racun] [int] NOT NULL,
	[ID_Artikal] [int] NOT NULL,
	[Cijena] [nchar](10) NULL,
	[Kolicina] [int] NULL,
	[Rabat_Postotak] [nchar](10) NULL,
 CONSTRAINT [PK_RACUN_ARTIKAL] PRIMARY KEY CLUSTERED 
(
	[ID_Racun] ASC,
	[ID_Artikal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SKLADISTE]    Script Date: 3/3/2022 6:24:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SKLADISTE](
	[ID_Skladiste] [int] IDENTITY(1,1) NOT NULL,
	[Ime_Skladista] [nchar](10) NULL,
	[Adresa_Skladista] [nchar](10) NULL,
 CONSTRAINT [PK_SKLADISTE] PRIMARY KEY CLUSTERED 
(
	[ID_Skladiste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ARTIKAL] ON 

INSERT [dbo].[ARTIKAL] ([ID_Artikal], [Naziv_Artikla], [Boja_Artikla], [Informativna_Cijena]) VALUES (1, N'Vim                 ', N'Crna      ', CAST(19.99 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[ARTIKAL] OFF
GO
SET IDENTITY_INSERT [dbo].[KUPAC] ON 

INSERT [dbo].[KUPAC] ([ID_Kupac], [Ime_Kupca], [Adresa_Kupca]) VALUES (1, N'Mate Matic', NULL)
INSERT [dbo].[KUPAC] ([ID_Kupac], [Ime_Kupca], [Adresa_Kupca]) VALUES (3, N'Mate Matic', N'Vukovarska')
SET IDENTITY_INSERT [dbo].[KUPAC] OFF
GO
SET IDENTITY_INSERT [dbo].[RACUN] ON 

INSERT [dbo].[RACUN] ([ID_Racun], [Datum_Racuna], [Datum_Dospijeca], [Napomena], [ID_Kupac], [ID_Skladiste]) VALUES (1, CAST(N'2022-03-03' AS Date), CAST(N'2022-03-08' AS Date), N'NemaNapomene                                      ', 1, 2)
INSERT [dbo].[RACUN] ([ID_Racun], [Datum_Racuna], [Datum_Dospijeca], [Napomena], [ID_Kupac], [ID_Skladiste]) VALUES (3, CAST(N'2022-03-03' AS Date), CAST(N'2022-03-08' AS Date), N'NemaNapomene                                      ', 1, 2)
SET IDENTITY_INSERT [dbo].[RACUN] OFF
GO
SET IDENTITY_INSERT [dbo].[SKLADISTE] ON 

INSERT [dbo].[SKLADISTE] ([ID_Skladiste], [Ime_Skladista], [Adresa_Skladista]) VALUES (2, N'Maxi      ', N'Table     ')
SET IDENTITY_INSERT [dbo].[SKLADISTE] OFF
GO
ALTER TABLE [dbo].[RACUN]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_KUPAC] FOREIGN KEY([ID_Kupac])
REFERENCES [dbo].[KUPAC] ([ID_Kupac])
GO
ALTER TABLE [dbo].[RACUN] CHECK CONSTRAINT [FK_RACUN_KUPAC]
GO
ALTER TABLE [dbo].[RACUN]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_SKLADISTE] FOREIGN KEY([ID_Skladiste])
REFERENCES [dbo].[SKLADISTE] ([ID_Skladiste])
GO
ALTER TABLE [dbo].[RACUN] CHECK CONSTRAINT [FK_RACUN_SKLADISTE]
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_ARTIKAL_ARTIKAL] FOREIGN KEY([ID_Artikal])
REFERENCES [dbo].[ARTIKAL] ([ID_Artikal])
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL] CHECK CONSTRAINT [FK_RACUN_ARTIKAL_ARTIKAL]
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL]  WITH CHECK ADD  CONSTRAINT [FK_RACUN_ARTIKAL_RACUN] FOREIGN KEY([ID_Racun])
REFERENCES [dbo].[RACUN] ([ID_Racun])
GO
ALTER TABLE [dbo].[RACUN_ARTIKAL] CHECK CONSTRAINT [FK_RACUN_ARTIKAL_RACUN]
GO
